.Dashboard-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.chart-container {
  width: 80%;
  height: 400px;
  max-width: 1000px;      
  margin: 0 auto;         
}



.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.sales-filter {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.filter-export-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.export-button {
  color: #4b2995;
  padding: 0.3rem 0.6rem;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 0.85rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  user-select: none;
}

.export-button:hover {
  background-color: #fafafa;;
}
.search-input {
  padding: 0.4rem 0.6rem;
  border: 2px solid #d0b3f0; /* soft purple border */
  border-radius: 6px;
  font-size: 0.9rem;
  max-width: 200px;
  margin-right: 1rem;
  background-color: #faf8ff; /* very light lavender background */
  transition: border-color 0.2s, box-shadow 0.2s;
}

.search-input:focus {
  border-color: #b28ddb;
  box-shadow: 0 0 4px #d9bffb;
  outline: none;
}
