h1 {
    font-family: Monospace, serif;
    font-size: 7vh;
    color: #4b0082; 
    margin-left: 2vw;
    text-align: center;
}


html, body, #root, .App {
    height: 100vh;
}

html {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(33deg, #fff0f5 0%, #e6e6fa 50%, #ffffff 100%);
}